.app-box{
    font-family:"Open Sans";
    font-size: 15px;
    display: block;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/* top menu */

.menu-box{
    display:flex;
    justify-content: end;
    gap:5px;
}
.menu-box a{
    padding: 10px 15px;
    background-color: #0089ff;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* form */

form{

}

label{
    display:block;
    margin:5px 0px;
    font-size:18px;
    font-weight:bold;
}

input{
    padding:10px 15px;
    border:1px solid grey;
    margin:10px 0px;
}

button{
    padding:10px 15px;
    border:1px solid grey;
    font-size:14px;
    cursor:pointer;
}

button:hover{
    background-color:#000;
    color:#fff;
}