.notification-box{
    transition: all 0.5s ease-out 0.5s;
    background-color: #00a1ff;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    left: 0px;
    width: 560px;
}
.notification-box.failed{
    color:rgb(255, 255, 255);
    background-color:rgb(255 59 59);
}
.notification-messages{

}
.notification-message{

}